@tailwind base;
@tailwind components;
@tailwind utilities;

html { height: 10px;} body {min-height: 100%;}

@keyframes rotate360 {
  to { transform: rotate(360deg); }
}
.rotate { animation: 7s rotate360 infinite linear; object-fit: cover; }

@layer components {
    .main {
        @apply flex flex-col justify-center items-center mt-10
    }
    .footer-icons {
        @apply transition cursor-pointer hover:translate-y-1 hover:text-red-900;
    }
    .center {
        @apply flex justify-center text-center;
    }
    .title-bold {
        @apply text-2xl font-extrabold tracking-tight text-gray-900;
    }
    .hover-opacity {
        @apply hover:opacity-100 opacity-90; 
    }
}